/* HEADER */
$color1:#1ed7a9;
$color2: #FFFFFF;
$color3: #0e1414;
$color4: #178EAE;
$texto1: uppercase;
$texto2: none;
$fuente: 50px;
$ancho: 1000px;


body {
    background-color: $color1;
    font-family: Tahoma;
    font-size: ($fuente/5)+1;
    width: $ancho+200;
    margin: auto;
}
#logo {	
    background: url(../img/logo.jpg)  no-repeat right;
    margin: 0 0px;
    background-size: 55%;
    padding: 25em 0em 5em 0em;
    text-transform: $texto1;
	
}

    h1 a {
    margin: 0em;
    padding: 0;
    letter-spacing: -.1em;
    text-decoration: $texto2;
    font-size: 2em;
    font-weight: bold;
    background-color: $color2;
}

#subtitulo {
    padding: 0em;
    margin-top:1em;
    font-size: 1.5em;
    background-color: $color3;
}

#menu
ul{
    list-style: none;
    li {
        display: inline-block;
        margin-top: -2em;
    }
        
        a {
            display: block;
            float: left;
            margin-right: 0.12em;
            padding: 1em 1.5em;
            background-color: $color4;
            box-shadow: inset 0px -2px 0px 0px rgba(0,0,0,0.25);
            text-decoration: $texto2;
            text-shadow: 1px 1px 0px #0C749C;
            text-transform: $texto1;
            font-size: .90em;
            background-color: $color2;   
        }
    
}
#seccion{
    width: $ancho+150;
    padding: 0px 10px;
    background-color: $color2;
    height:290px;	
}
